# Скопируй этот файл в .env и вставь свои значения

# Строка подключения к базе данных из Vercel Postgres
DATABASE_URL=postgresql://user:password@host.vercel-storage.com:5432/database?sslmode=require

# Схема базы данных (для Vercel Postgres оставь public)
MAIN_DB_SCHEMA=public
